//---------- variables

// Fonts
$font-default: "Niramit", sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Colors
$white: #ffffff;
$white20: #ffffff33;
$black: #000000;
$green: #608508;
$green-dot: #68980a66;
$green-dark: #26310d;
$green-font: #8ace24;
$green-button: #68980a;
$green-button-20: #68980a33;
$green-dot: #5b601e;
$green-background: #eefff5;
$greey-button: #2b2b2b;
$greey-button-40: #2b2b2b66;
$greey-dark: #1a1a1a;
$greey-font: #2b2b2b;
$greey-background: #f2f2f2;
