//---------- inputs

.input {
    min-width: 200px;
    margin: 0;
    padding: 8px 10px 8px;
    font-family: $font-default;
    font-size: 16px;
    line-height: 18px;
    color: $green-font;
    outline: none;
    background-color: $green-middle;
    border: 0;
    @include breakpoint("desktop") {
        padding: 6px 8px 6px;
        font-size: 15px;
    }
    @include breakpoint("tablet") {
        padding: 4px 6px 4px;
        font-size: 14px;
        line-height: 17px;
    }
    @include breakpoint("phone") {
        padding: 3px 5px 3px;
        font-size: 12px;
        line-height: 15px;
    }
}