//---------- containers

.wrap {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.wrap--header {
    padding: 0;
}

.container-section {
    padding: 30px;
    @include breakpoint("desktop") {
        padding: 25px;
    }
    @include breakpoint("tablet") {
        padding: 20px;
    }
    @include breakpoint("phone") {
        padding: 15px 20px;
    }
}

.container-text {
    padding: 10px;
}

.page-view {
    min-height: calc(100vh - 56px - 56px);
    @include breakpoint("desktop") {
        min-height: calc(100vh - 52px - 52px);
    }
    @include breakpoint("tablet") {
        min-height: calc(100vh - 45px - 62px);
    }
    @include breakpoint("phone") {
        min-height: calc(100vh - 45px - 52px);
    }
}

.container-news-content {
    padding-top: 30px;
    @include breakpoint ("tablet") {
        padding-top: 20px;
    }
    @include breakpoint ("phone+") {
        padding-top: 10px;
    }
    @include breakpoint ("phone") {
        padding: 10px 0 0 0;
    }
}
