//-----------------------------------------------------news

.news {
    overflow: hidden;
}

.news__container {
    background-color: $greey-background;
}

.news__cards {
    padding-top: 30px;
    flex-wrap: wrap;
    @include flex-structure(row, flex-start, flex-start);
    @include breakpoint("desktop") {
        padding-top: 20px;
    }
    @include breakpoint("tablet") {
        padding: 10px 25px 0 25px;
    }
    @include breakpoint-spec(655px, 768px) {
        padding: 10px 70px 0 70px;
    }
    @include breakpoint("phone+") {
        padding: 10px 0 0 0;
    }
}
