//-----------------------------------------------------blog

.blog {
    overflow: hidden;
}

.blog__container {
    background-color: $greey-background;
    @include flex-structure(row, center, center);
}

.blog__box {
    width: fit-content;
    padding: 10px;
    background-color: $green-background;
    border: 1px solid $greey;
    border-radius: 5px;
}