//-----------------------------------------------------conatct

.contact {
    overflow: hidden;
}

.contact__container {
    padding-left: 50px;
    background-color: $greey-background;
    @include flex-structure(column, center, stretch);
    @include breakpoint("tablet") {
        padding-left: 30px;
        justify-content: flex-start;
    }
    @include breakpoint("phone+") {
        padding-left: 20px;
    }
}

.contact__left-top {
    margin-bottom: 30px;
}

.contact__text {
    display: block;
}