//-----------------------------------------------------news_1

.news-1 {
    overflow: hidden;
}

.news-1__container {
    background-color: $greey-background;
}

.news-1__heading {
    text-align: center;
    color: $greey-font;
}

.news-1__content {
    padding-top: 30px;
    @include flex-structure(row, center, flex-start);
    @include breakpoint("tablet") {
        padding-top: 15px;
    }
    @include breakpoint("phone+") {
        @include flex-structure(column-reverse, space-between, flex-start);
    }
}

.news-1__left {
    width: 40%;
    @include breakpoint("desktop") {
        padding-left: 40px;
    }
    @include breakpoint("tablet+") {
        padding-left: 0;
    }
    @include breakpoint("tablet") {
        width: 100%;
    }
    @include breakpoint("phone+") {
        margin-top: 20px;
    }
    @include breakpoint("phone") {
        padding: 0 10px 0 10px;
    }
}

.news-1__text {
    text-align: justify;
}

.news-1__right {
    margin-left: 100px;
    text-align: right;
    @include breakpoint("desktop") {
        padding-right: 40px;
    }
    @include breakpoint("tablet+") {
        padding-right: 0;
    }
    @include breakpoint("tablet") {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

.news-1__img {
    width: 250px;
    @include breakpoint("desktop") {
        width: 220px;
    }
    @include breakpoint("tablet+") {
        width: 250px;
    }
    @include breakpoint("tablet") {
        width: 220px;
    }
    @include breakpoint("phone+") {
        width: 290px;
    }
    @include breakpoint("phone+") {
        width: 250px;
    }
}
