//---------- fonts
//------------------------------------------------------------------------------

@font-face {
    font-family: "Niramit";
    src: url("../../files/fonts/Niramit-ExtraLight.woff2") format("woff2"),
        url("../../files/fonts/Niramit-ExtraLight.woff") format("woff"),
        url("../../files/fonts/Niramit-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Niramit";
    src: url("../../files/fonts/Niramit-Light.woff2") format("woff2"),
        url("../../files/fonts/Niramit-Light.woff") format("woff"),
        url("../../files/fonts/Niramit-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Niramit";
    src: url("../../files/fonts/Niramit-Regular.woff2") format("woff2"),
        url("../../files/fonts/Niramit-Regular.woff") format("woff"),
        url("../../files/fonts/Niramit-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Niramit";
    src: url("../../files/fonts/Niramit-Medium.woff2") format("woff2"),
    url("../../files/fonts/Niramit-Medium.woff") format("woff"),
    url("../../files/fonts/Niramit-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Niramit";
    src: url("../../files/fonts/Niramit-SemiBold.woff2") format("woff2"),
        url("../../files/fonts/Niramit-SemiBold.woff") format("woff"),
        url("../../files/fonts/Niramit-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Niramit";
    src: url("../../files/fonts/Niramit-Bold.woff2") format("woff2"),
        url("../../files/fonts/Niramit-Bold.woff") format("woff"),
        url("../../files/fonts/Niramit-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}